.main-checkout{
    padding: 2rem;
    color:black;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poopins';
}

.main-checkout .container-checkout{
    position: relative;
    max-width: 90rem;
    width: 100%;
    border-radius: 0.6rem;
    padding: 3rem;
    margin: 0 1.5rem;
    background-color: #f3f3f3;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.container-checkout header{
    font-family: 'Poopins-bold';
    position: relative;
    font-size: 2rem;
    color: #333;
}
.container-checkout header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.2rem;
    height: 0.3rem;
    width: 2.7rem;
    border-radius: 0.8rem;
    background-color: #009879;
}

.container-checkout form{
    position: relative;
    margin-top: 1.6rem;
    min-height: 49rem;
    background-color: #f3f3f3;
}
.container-checkout form .fields{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.container-checkout form .fields .fieldWrapper{
    display: flex;
    flex-direction: column;
    margin: 0.4rem 0;
    width: calc(100% / 3 - 1.5rem);
}

.container-checkout form .fields .fieldWrapper label{
    font-size: 1.4rem;
    font-weight: 500;
    color: #2e2e2e;
}
.container-checkout form .fields .fieldWrapper input{
    font-size: 1.4rem;
    font-weight: 400;
    color: #333;
    outline: none;
    border: 0.1rem solid #aaa;
    border-radius: 0.5rem;
    padding: 0 1.5rem;
    height: 4.2rem;
    margin: 0.8rem 0;
}
.container-checkout form .fields .fieldWrapper input:is(:focus,:valid){
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.13);
}
.container-checkout form .fields .fieldWrapper input[type='date']{
    color: #707070;
}
.container-checkout form .fields .fieldWrapper input[type='date']:is(:focus){
    color: #333;
}
.container-checkout form .btn{
    border-style: none;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    max-width: 20rem;
    width: 100%;
    color: #ffff;
    margin: 2.5rem 0;
    background-color: #009879;
    transition: all 0.3s linear;
    cursor: pointer;
}
.container-checkout form .btn:hover{
    background-color: #082A04;
}

@media (max-width: 700px){
    .container-checkout form .fields .fieldWrapper{
        width: calc(100% / 2 - 1.5rem);
    }
}

 @media (max-width: 400px){
    .container-checkout form .fields .fieldWrapper{
        width: calc(100% - 1.5rem);
    }
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
    background-color: #1ed12d;
	color: #1ed12d;
	opacity: 1;
}

.container-checkout form .fields .formulario__grupo-incorrecto label {
    font-weight: bold;
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.container-checkout form .fields .formulario__grupo-incorrecto input {
	border: 3px solid #bb2929;
}